body { margin:0; padding:0; }

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  z-index: -1;
}

.navbar {
  position:absolute;
  top:0;
  left:50px;
  background-color: #313236;
  border-radius: 2px;
  max-width: 600px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.boxLine {
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9099a6;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    padding: 0px;
    width: 40px;
    height: 30px;
    font-size: 0.8em;
    min-width: 30px;
    position: relative;
    top: -2px;
    text-align: center;
    overflow: hidden;
    margin: 0px 1px 5px 3px;
    cursor: pointer;
}
.lineNumber {
    display: inline-block;
    margin: 0px 5px 15px 3px;
}
/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
 */
.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }

.custom-popup .leaflet-popup-tip {
  background: #2c3e50;
}


/*
 * LOADING SPINNER
 * https://stephanwagner.me/only-css-loading-spinner
 */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}
